# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDE
.idea/
*.iml
*.iws

# Allure
.allure/
allure-results/
allure-report/

# System
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Other
*.class
*.jar
*.war
*.ear
